<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.orders.mapper.BizOrdersMapper">

    <!-- 获取订单分页列表 -->
    <select id="getBizOrdersPage" resultType="com.youlai.boot.orders.model.vo.BizOrdersVO">
        SELECT
            biz_orders.id,
            biz_orders.repo_id,
            biz_orders.user_id,
            user.username AS user_name,
            dep.name AS department_name,
            pro.name AS product_name,
            biz_orders.quantity,
            biz_orders.unit_price,
            biz_orders.total_amount,
            biz_orders.order_date,
            biz_orders.create_by,
            biz_orders.create_time,
            biz_orders.update_by,
            biz_orders.update_time
        FROM
            biz_orders
        left join biz_repository rep on rep.id = biz_orders.repo_id
        left join sys_dept dep on rep.department_id = dep.id
        left join biz_products pro on rep.product_id = pro.id
        left join sys_user user on biz_orders.user_id = user.id
        <if test='queryParams.deptIds != null'>
            WHERE rep.department_id IN
            <foreach item="item" index="index" collection="queryParams.deptIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test='queryParams.userId != null and queryParams.userId neq ""'>
            WHERE biz_orders.user_id = #{queryParams.userId}
        </if>
    </select>

</mapper>
